<div class="page-header" filter-color="orange">
  <div class="page-header-image" style="background-image:url(<%= asset_path 'bg3.jpg' %>)"></div>
  <div class="container">
    <div class="col-md-4 content-center w40">
      <div class="card card-login card-plain">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="header header-primary text-center">
            <div class="logo-container">
              <h2>Sign Up</h2>
            </div>
          </div>
          <%= devise_error_messages! %>
          <div class="content">
            <div class="input-group form-group-no-border input-lg">
              <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: "Email..." %>
            </div>
            <div class="input-group form-group-no-border input-lg">
              <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: "Password..." %>
            </div>
            <div class="input-group form-group-no-border input-lg">
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: "Confirm Password..." %>
            </div>
          </div>
          <div class="footer text-center">
            <%= f.submit "Create Account", class: 'btn btn-primary btn-round btn-lg btn-block' %>
          </div>
          <div class="pull-left">
            <h6>
              <%= link_to "Log In", new_user_session_path, class: "link" %>
            </h6>
          </div>
          <div class="pull-right">
            <h6>
              <%= link_to "Need Help?", "#", class: "link" %>
            </h6>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<!-- <div class="container">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card card-outline-secondary">
        <div class="card-block">
          <blockquote class="card-blockquote">
            <h2 class="text-center">Sign up</h2>

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= devise_error_messages! %>

              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, class: 'form-control' %>
              </div>

              <div class="field">
                <%= f.label :password %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
              </div>

              <div class="field">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
              </div>

              <div class="actions">
                <%= f.submit "Sign up", class: 'btn btn-outline-success my-2 my-sm-0' %>
                <%= render "devise/shared/links" %>
              </div>
            <% end %>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div> -->
