<% if user_signed_in? && current_user.contacts.size > 0 %>
  <h1 class="text-center">Contacts List</h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Name <span class="sort-by"><%= sortable "name", "sort alphabetically" %></span></th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <% @contacts.each_with_index do |contact, index| %>
          <tr>
            <th scope="row"><%= index + 1 %></th>
            <td><%= contact.name %></td>
            <td><%= mail_to "#{contact.email}" %></td>
            <td><%= contact.phone %></td>
            <td><%= contact.address %></td>
            <td class="text-center"><%= link_to 'View', contact_path(contact), class: 'btn btn-outline-primary my-2 my-sm-0' %></td>
          </tr>
        <% end %>
    </tbody>
  </table>
<% else %>
  <div class="jumbotron">
    <h1 class="display-3 text-center">Get Started!</h1>
    <p class="lead">Fames distinctio fermentum phasellus, voluptatem sapien class, laboris tincidunt ipsa consectetuer reiciendis. Voluptas leo, proin, luctus, placeat potenti odio dolorem voluptatem veniam consequatur. Senectus imperdiet.</p>
    <hr class="my-2">
    <p>Montes proin libero consectetuer ante! Beatae temporibus excepteur nemo turpis pharetra a cumque accusamus, eget nostrum? Tellus autem libero eaque vero minus! Erat cupidatat egestas.</p>
    <p class="lead text-center">
      <% if user_signed_in? %>
        <%= link_to "Add New Contact", new_contact_path, class: "btn btn-primary" %>
      <% else %>
        <%= link_to "Add New Contact", new_user_registration_path, class: "btn btn-primary" %>
      <% end %>
    </p>
  </div>
<% end %>
